{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Survey' ~ srv.id %}

{% block body %}
<div class="container">
    <div class="row my-4">

    <div class="col-3"></div>
    <div class="col-6">
    <h1 class="text-4xl mb-4 dark:text-white text-center">Edit Survey {{ srv.id }}</h1>
    {{ include('/layouts/partials/_form.html.twig')}}
</div>
</div>
</div>
{% endblock %}